*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--bg-color: #f1ebe3;
	--btn-color: #143417;
	--font-color: #8b8b8b;
	--h1-highlight: #f6b301;

	--dropdown-title: #0a263f;
	--dropdown-text: #7e8d9a;
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: "Inter", sans-serif;
	min-height: 100vh;
}

h2 {
	font-size: 0.85rem;
	font-weight: 600;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: inherit;
}

li {
	list-style: none;
}

nav {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-icon {
	margin-left: auto;
}

.menu {
	display: flex;
}

.menu li {
	margin: 0 0.5rem;
	padding: 0.5rem;
}

.sign-in-btn {
	margin-right: 1rem;
}

main {
	padding: 1rem;
}

.main-title {
	color: #000;
}

.main-text {
	font-size: 0.9rem;
	line-height: 1.5;
	margin: 1rem 0;
}

.highlight {
	color: var(--h1-highlight);
}

.btn {
	background-color: var(--btn-color);
	color: var(--bg-color);
	display: inline-block;
	padding: 1.05rem 1.65rem;
	border-radius: 4px;
}

.main-img {
	display: none;
	visibility: hidden;
}

.rating {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

.rating-logos {
	margin-left: auto;
	display: flex;
	gap: 10px;
}

.trusted {
	padding: 0 1rem;
}

.trusted-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

.companies {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	place-items: center;
}

.companies img {
	max-width: 100%;
	display: block;
}

@media (min-width: 600px) {
	.menu-icon {
		display: none;
		visibility: hidden;
	}

	.main-img {
		display: initial;
		visibility: visible;
	}

	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		align-items: center;
		justify-items: end;
	}

	.main-img img {
		width: 100%;
		max-width: 360px;
		display: block;
	}

	.rating {
		padding: 0;
	}

	.rating-logos {
		margin-left: 1rem;
	}

	.trusted {
		padding-top: 2.5rem;
	}

	.companies {
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
}

@media (min-width: 1200px) {
	nav,
	main,
	.trusted {
		max-width: 1080px;
		margin: 0 auto;
	}
}

@media (min-width: 1440px) {
	nav,
	main,
	.trusted {
		max-width: 1300px;
		margin: 0 auto;
	}
}
