*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--bg-color: #f1ebe3;
	--btn-color: #143417;
	--font-color: #8b8b8b;
	--h1-highlight: #f6b301;

	--dropdown-title: #0a263f;
	--dropdown-text: #7e8d9a;
}

html {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: "Inter", sans-serif;
	min-height: 100vh;
}

h2 {
	font-size: 0.85rem;
	font-weight: 600;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: inherit;
}

li {
	list-style: none;
}

nav {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.menu-icon {
	margin-left: auto;
}

.menu,
.menu-btns {
	display: none;
}

.menu li {
	margin: 0 0.5rem;
	padding: 0.5rem;
}

.sign-in-btn {
	margin-right: 1rem;
}

/* Dropdown ================================================================ */
.dropdown {
	background-color: #fff;
	position: absolute;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	padding: 2rem;
	border-radius: 15px;
	display: none;
}

.menu-container.active .dropdown {
	display: block;
}

.dropdown-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.75rem;
}

.dropdown-title {
	color: var(--dropdown-text);
	text-transform: uppercase;
}

.dropdown-section ~ .dropdown-section {
	margin-top: 1.75rem;
}

.dropdown-section-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.25rem;
}

.dropdown-section-title {
	color: var(--dropdown-title);
}

.dropdown-section-text {
	padding-left: calc(24px + 0.5rem);
}

/* =========================================================================== */

main {
	padding: 1rem;
}

.main-title {
	color: #000;
}

.main-text {
	font-size: 0.9rem;
	line-height: 1.5;
	margin: 1rem 0;
}

.highlight {
	color: var(--h1-highlight);
}

.btn {
	background-color: var(--btn-color);
	color: var(--bg-color);
	display: inline-block;
	padding: 1.05rem 1.65rem;
	border-radius: 4px;
}

.main-img {
	display: none;
	visibility: hidden;
}

.rating {
	margin: 2rem 0;
	display: flex;
	align-items: center;
}

.rating-logos {
	margin-left: auto;
	display: flex;
	gap: 10px;
}

.trusted {
	padding: 0 1rem;
}

.trusted-title {
	text-align: center;
	margin-bottom: 1.5rem;
}

.companies {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	place-items: center;
}

.companies img {
	max-width: 100%;
	display: block;
}

@media (min-width: 600px) {
	.main-img {
		display: initial;
		visibility: visible;
	}

	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		align-items: center;
		justify-items: end;
	}

	.main-img img {
		width: 100%;
		max-width: 360px;
		display: block;
	}

	.rating {
		padding: 0;
	}

	.rating-logos {
		margin-left: 1rem;
	}

	.trusted {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	.companies {
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
}

@media (min-width: 859px) {
	nav,
	main,
	.trusted {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.menu-container.active #products,
	.menu a:hover,
	.sign-in-btn:hover {
		filter: brightness(0.6);
	}

	.menu-icon {
		display: none;
		visibility: hidden;
	}

	.menu-container {
		position: relative;
	}

	.menu {
		display: flex;
	}

	.menu-btns {
		display: block;
	}

	.dropdown {
		max-width: 460px;
		top: 3rem;
		left: -5rem;
	}

	.dropdown::after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: -8px;
		left: 120px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
	}

	.dropdown-menu {
		margin-bottom: 0;
	}

	.dropdown-title {
		display: none;
	}

	.dropdown-section ~ .dropdown-section {
		margin-top: 1.75rem;
	}

	#close-icon {
		cursor: pointer;
		position: absolute;
		right: 1.5rem;
	}

	main {
		margin-top: 1rem;
	}

	.main-title {
		font-size: 3.5rem;
	}

	.btn:hover {
		filter: brightness(1.4);
	}
}

@media (min-width: 1200px) {
	nav,
	main,
	.trusted {
		max-width: 1080px;
	}
}

@media (min-width: 1440px) {
	nav,
	main,
	.trusted {
		max-width: 1300px;
	}
}
